@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-white: #ffffff;
  --color-gray-1: #616d8d;
  --color-gray-2: #313e62;
  --color-gray-3: #222b44;
  --color-gray-4: #121825;
  --color-black: #0e0c15;
  --color-accent-primary: #1c64f2;

  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", serif;
}
