@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-white: #ffffff;
  --color-gray-1: #616d8d;
  --color-gray-2: #313e62;
  --color-gray-3: #222b44;
  --color-gray-4: #121825;
  --color-black: #0e0c15;
  --color-accent-primary: #1c64f2;

  --gradient-premium: linear-gradient(
    to right,
    var(--color-accent-primary) 0%,
    #d41cf2 100%
  );

  --border: var(--color-gray-2) 1px solid;

  // Font-weights
  --semibold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

span {
  font-size: 16px;
  font-weight: 500;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent-primary);
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: var(--border);
}

ul {
  list-style: none;
}
