.wrapper {
  background-color: var(--color-gray-4);
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
