.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color-white);
  font-size: 16px;
  border: var(--border);
  background-color: var(--color-gray-4);

  &::placeholder {
    font-size: 16px;
    color: var(--color-gray-1);
  }
}
