.wrapper {
  background-color: var(--color-gray-4);
  min-width: 324px;
  border-radius: var(--border-radius);
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarTop {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonPanel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchButton {
  background-color: transparent;
}
